.lorem {
    height: 100vh; 
    display: flex; 
    justify-content: space-between;
}

.item_lorem {
    box-sizing: border-box;  
    width: 50%;
    height: auto;
    padding: 0px 5%;
    vertical-align: middle;
    margin: auto;
}

.item_lorem h3 {
    font-family: inherit;
    font-size: 22px;
    color: inherit;
    margin-top: 2px;
    margin-left: 3px;
}

.item_lorem h4 {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

.item_lorem p {
    font-family: inherit;
    font-size: inherit;
    color: inherit;  
}

.item_icon {
    width: 15%;
    height: 15%;
}

.imagem{
    padding: 10px 0px;
    width: 50%;
    height: auto;
}
