.celula{
    width: 30%;
}

.celula img{  
    width: 21%;
    height: 39%;
}

.celula h5{
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

.celula p{
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}