 
.timer {
    width: 100%;
    height: auto;
    /* background-color: rgb(255, 136, 0); */
    text-align: center;
}

.timer h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 45px;
    color: #787cf0;
    padding: 20px;
    margin: 0px
}

.itens_timer{
    width: auto;
    height: auto;
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    justify-content: space-around;    
}
