
.cont {
    background-color: transparent;
    border: solid black 2px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: 30px;
}


.cont_sub{
    margin-top: 20%;
}

#numero{
    font-family: 'Nanum Gothic Coding', monospace;
    font-size: 70px;
    color: #787cf0;
    padding: 0px;
    margin: 0px
}


#item_timer_titulo{
    font-family: 'Montserrat', sans-serif;
    font-size: initial;
    color: black;
    padding: 0px;
    margin: 0px
}