.sobre {
    height: auto;
    /* background-color: tomato; */
    margin: 0px;
}

.titulo {
    text-align: center;
}

.titulo h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    color: inherit;
    width: 100%;
    padding-top: 100px;
}

.titulo p {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: inherit;
    width: 100%;   
    margin: 0px 15px; 
}


.itens {
    display: flex;
}